.input-container {
    width: 100%;
    padding: 5px;
    /* background-color: red; */
}

.input-container input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: solid 1px var(--clr-purple);
    font-size: 15px;
}

.add-quiz-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    color: #fff;
    /* background-color: #007bff; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.select-option {
    width: 100%;
    padding: .6rem;
    margin-bottom: 1rem;
    border: 1px solid var(--clr-purple);
    border-radius: 5px;
}

.quiz-date {
    width: 100%;
}

.start-at,
.end-at,.quiz-date {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: 1rem 0;
}

.custom-datepicker {
    width: 100%;
    /* max-width: 300px; */
    /* min-width: 290px; */
    border: 1px solid var(--clr-purple);
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
}



/* Customize TimePicker */
.react-time-picker {
    border: 1px solid var(--clr-purple);
    border-radius: 5px;
    padding: 5px;
}

.react-time-picker__wrapper {
    border: none !important;
    box-shadow: none !important;

}

.react-time-picker__inputGroup {
    font-size: 16px;
    padding: 5px;
}

.react-time-picker__clock {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.react-time-picker__clock--open {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}





/* Tablet */
@media (min-width: 577px) and (max-width: 768px) {
    .react-time-picker {
        width: 100%;
    }

    .select-option {
        max-width: 250px;
    }

    .custom-timepicker {
        max-width: 250px;
        font-size: 14px;
    }
    .custom-datepicker{
        width: 50%;
        font-size: 14px;
    }
}

/* Desktop */
@media (min-width: 769px) {
    .react-time-picker {
        width: 50%;
    }

    .select-option {
        width: 50%;
    }

    .custom-datepicker {
        width: 290px;
    }
}