.regi-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85vw;
    height: 40;
    background: var(--clr-white);
    border-radius: var(--radius);
    padding: 2.5rem 2rem;
    max-width: var(--fixed-width);
}

.name-field{
    padding: 5px;
    text-transform: capitalize;
  }

/* Tablet */
@media (min-width: 577px) and (max-width: 768px) {
    .regi-container {
        width: 45vw;
    }
    .form{
        /* height: 30%; */
    }
}

/* Desktop */
@media (min-width: 769px) {
    .regi-container {
        width: 25vw;
    }
    .form{
        /* height: 90%; */
    }

}