.table-responsive {
    width: 100%;
    overflow-x: auto; 
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .custom-table th,
  .custom-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .custom-table th {
    background-color: #f4f4f4;
  }
  .time-taken{
    margin-bottom: 0.5rem;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    padding: 0.3rem;

  }