.footer-container{
    background-color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container h4{
    font-size: small;
    text-align: center;
}

h4{
    margin-bottom: 0;
}